*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma10_010704_benign1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma10_010704_benign2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma10_010704_benign3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma10_010704_malignant2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma10_010704_malignant3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma12_010804_benign1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma12_010804_benign2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma12_010804_benign3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma12_010804_malignant1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma12_010804_malignant3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma23_022103_benign1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma23_022103_benign2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma23_022103_benign3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma23_022103_malignant1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042003_benign1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042003_benign2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042003_benign3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042003_malignant1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042003_malignant3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042203_benign1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042203_benign2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042203_benign3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042203_malignant1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042203_malignant2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042203_malignant3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042403_benign1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042403_benign2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042403_benign3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042403_malignant2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_042403_malignant3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_072303_benign1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_072303_benign2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_072303_malignant1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_072303_malignant2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_111003_benign1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_111003_benign2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_111003_benign3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_111003_malignant2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_111003_malignant3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_111303_benign1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_111303_benign2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_111303_benign3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_111303_malignant1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_111303_malignant2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma49_111303_malignant3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma55_030603_benign1_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma55_030603_benign2_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma55_030603_benign3_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma55_030603_benign4_ccd.tif filter=lfs diff=lfs merge=lfs -text
breast_cancer/Images/ytma55_030603_benign5_ccd.tif filter=lfs diff=lfs merge=lfs -text
